services:
  smtp:
    image: ixdotai/smtp:v0.5.2
    container_name: smtp
    ports:
      - 127.0.0.1:25:25
    env_file:
      - ./environments/smtp.env

  loki:
    image: grafana/loki:3.3.0
    container_name: loki
    command: ["--validation.discover-service-name=[]", "--validation.discover-log-levels=false", "-config.file=/etc/loki/loki.yaml"]
    volumes:
      - "./loki/loki.yaml:/etc/loki/loki.yaml"
    ports:
      - "3100:3100"
  prometheus:
    image: prom/prometheus:v2.55.1
    container_name: prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
    command:
      - --web.enable-remote-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
  alertmanager:
    image: prom/alertmanager:v0.27.0
    container_name: alertmanager
    volumes:
      - ./alertmanager:/etc/alertmanager/
    ports:
      - 9093:9093
  grafana:
    image: grafana/grafana:${GRAFANA_VERSION:-11.3.0}
    container_name: grafana
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp:25
      - GF_SMTP_SKIP_VERIFY=true
    volumes:
      - ./grafana:/etc/grafana/provisioning/
    ports:
      - 3000:3000